body {
    margin:0;
    padding:0;
}

@-ms-viewport {
    width: device-width;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/manrope/manrope-extrabold.woff2") format("woff2"), /* Modern browsers */
    url("../fonts/manrope/manrope-extrabold.woff") format("woff"), /* Legacy browsers */
    url("../fonts/manrope/manrope-extrabold.otf") format("truetype"); /* Android, iOS */
    font-style: normal;
    font-weight: 800; }
@font-face {
    font-family: "Manrope";
    src: url("../fonts/manrope/manrope-bold.woff2") format("woff2"),
    url("../fonts/manrope/manrope-bold.woff") format("woff"),
    url("../fonts/manrope/manrope-bold.otf") format("truetype");
    font-style: normal;
    font-weight: 700; }
@font-face {
    font-family: "Manrope";
    src: url("../fonts/manrope/manrope-semibold.woff2") format("woff2"),
    url("../fonts/manrope/manrope-semibold.woff") format("woff"),
    url("../fonts/manrope/manrope-semibold.otf") format("truetype");
    font-style: normal;
    font-weight: 600; }
@font-face {
    font-family: "Manrope";
    src: url("../fonts/manrope/manrope-medium.woff2") format("woff2"),
    url("../fonts/manrope/manrope-medium.woff") format("woff"),
    url("../fonts/manrope/manrope-medium.otf") format("truetype");
    font-style: normal;
    font-weight: 500; }
@font-face {
    font-family: "Manrope";
    src: url("../fonts/manrope/manrope-regular.woff2") format("woff2"),
    url("../fonts/manrope/manrope-regular.woff") format("woff"),
    url("../fonts/manrope/manrope-regular.otf") format("truetype");
    font-style: normal;
    font-weight: 400; }
@font-face {
    font-family: "Manrope";
    src: url("../fonts/manrope/manrope-light.woff2") format("woff2"),
    url("../fonts/manrope/manrope-light.woff") format("woff"),
    url("../fonts/manrope/manrope-light.otf") format("truetype");
    font-style: normal;
    font-weight: 300; }
@font-face {
    font-family: "Manrope";
    src: url("../fonts/manrope/manrope-thin.woff2") format("woff2"),
    url("../fonts/manrope/manrope-thin.woff") format("woff"),
    url("../fonts/manrope/manrope-thin.otf") format("truetype");
    font-style: normal;
    font-weight: 200; }
a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}
.white,.white a{
    color:#fff;
}
.blue,.blue a{
    color:#055ffb;
}
.black,.black a{
    color:#000;
}
.section {
    position: relative;
    display: flex;
    height: 100vh;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: center;
    -ms-flex-pack: start;
    justify-content: center;
    background-color:#fff;
    font-weight: 400;
    min-height:400px;
}

.section.first {
    background-color: #055ffb;
}
.section.second {
    background-color: #fff;
}
.container {
    z-index:10;
}
.container.second{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: center;
    -ms-flex-pack: start;
    justify-content: center;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: fixed;
    z-index: 11;
}
.col-flex {
    max-width: 100%;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: flex;
}
.col-fixed {
    position: fixed;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
}
.logo {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    padding:30px 0 0 30px;
}

.phone {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    padding:30px 0 0 0;
    text-align:center;
    flex-flow: column;
}
.email {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    padding:30px 30px 0 0;
    text-align: right;
    flex-direction: column;
}

.logo span{
    font-weight: 500;
}
.smaller-headline {
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    opacity:.8;
}
.bigger-headline {
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Manrope', sans-serif;
    font-size: 65px;
    line-height: 65px;
    font-weight: 700;
    text-align: center;
    max-width: 991px;
    margin:0 auto;
}
.row {
    margin:0 auto;
    width:100%;
    display:flex;
    align-content: center;
    justify-content: center;
    float:center;
    flex-direction: row;
}
.btn {
    padding: 14px 32px 12px;
    margin:0 5px;
    border-radius: 4px;
    background-color: #fff;
    color:#055ffb;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align:center;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.blue-btn {
    color:#fff;
    background-color: #055ffb;
}
.graph-tooltip {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    bottom:0;
    position:fixed;
    opacity:.5;
}
.graph-tooltip span {
    position: fixed;
    font-family: 'Manrope', sans-serif;
    color: #fff;
    opacity: .8;
    padding-top:10px;
    font-size:16px;
}
.graph {
    position: fixed;
    left: 0;
    top: auto;
    right: 0;
    bottom: 3%;
    z-index: 3;
    display: flex;
    height: 400px;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-image: url(../images/graph.svg);
    background-size: 106%;
    background-repeat: no-repeat;
    opacity: 1;
    -webkit-box-pack: center;
    background-position: 50% 100%;
}
.graph span{
    position: fixed;
    bottom:5px;
    right:25px;
    font-family: 'Manrope', sans-serif;
    color: #fff;
    font-weight: 800;
}
.mobile-view {
    display:none;
    padding: 30px 30px 0 0;
    font-family: 'Manrope', sans-serif;
    color: #fff;
    fill:#fff;
    stroke:#fff;
    text-align: right;
    flex-direction: column;
}
.mobile-view a{
    padding:0px 5px;
}
/* FORM */
form {
    display: flex;
    flex-direction: column;
    margin:10px 0;
    width: 100%;
    align-items: center;

}
input {
    height: 70px;
    padding-left: 25px;
    margin:5px;
    width:100%;
    max-width: 400px;
    font-size: 14px;
    border: 1px #000;
    font-family: 'Manrope', sans-serif;
    border-radius: 4px;
    background-color: rgba(5,95,251,.1);
    color: #131415;
}
textarea {
    height:100px;
    padding: 25px;
    margin:5px;
    max-width: 400px;
    width:100%;
    font-size: 14px;
    border: 1px #000;
    font-family: 'Manrope', sans-serif;
    border-radius: 4px;
    background-color: rgba(5,95,251,.1);
    color: #131415;
}
@media (max-width: 991px){
    .graph{display:block;background-position:48% 100%;background-size:130%}
    .graph-tooltip img{width:165px;}
}
@media (max-width: 731px){
    .graph{bottom:3%;height:290px;background-size:190%;background-repeat:no-repeat;opacity:1}
    .graph-tooltip img{width:160px;}
    .smaller-headline{font-size:10px;line-height: 12px;}
    .bigger-headline {padding:10px;font-size:35px;line-height:35px;}
    .graph-tooltip span {font-size:12px;}
    .btn {width:auto;padding: 14px 0px 12px;margin:3px 5px;}
    .blue-btn{width:100%;}
    .row {flex-direction: column;padding-bottom:30px;}
    .section.first {height: calc(100vh - 56px)}
    .logo{width:100%;left:5px;top:20px;}
    .phone,.email{display:none;}
    .mobile-view {display:block;}
} 